<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/admin.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h5 class="mt-5 mb-5">จัดการระบบแนะนำการเลือกศึกษาหลักสูตรระดับปริญญาตรีสาขาวิชาวิทยาการคอมพิวเตอร์ ด้วยเทคนิคโครงข่ายประสาทเทียม</h5>
        <ul class="list-group">
            <li class="list-group-item"><a href="/managemodel">จัดการโมเดล</a></li>
            <li class="list-group-item"><a href="/managedata">จัดการข้อมูลพยากรณ์</a></li>
        </ul>
        <a href="/logout" class="btn btn-danger btn-sm mt-3 mb-2">ออกจากระบบ</a>
    </div>
</body>

</html>
